.mangaPage {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 95%;
  max-width: 1220px;
  border-radius: 10px;
  z-index: 10;
}

.mangaBanner {
  position: relative;
  width: 100%;
  height: 250px;
  border-radius: 20px;
  background-color: var(--element-background-color);
  background-repeat: no-repeat;
  object-fit: fill;
  background-position: center;
  overflow: hidden;
  animation: fadeIn 0.3s ease;
}

:root[data-theme="dark"] .mangaBanner::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
}

.mangaContainer {
  display: flex;
  gap: 20px;
  padding: 0 0 10px 10px;
  margin-top: -80px;
  z-index: 10;
}

.sideContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.buttonGroup {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.buttonGroup button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
}

.buttonRead {
  color: #ffffff;
  background-color: #0068df;
}

.buttonRead:hover {
  background-color: var(--thematic-color);
}

.buttonAddBookMarks {
  border: solid 1px rgb(66, 66, 66);
  background-color: var(--element-background-color);
}

.buttonAddedBookMarks {
  border: solid 1px rgb(66, 66, 66);
  color: rgb(127, 255, 155);
  background-color: var(--element-background-color);
}

.coverContainer {
  position: relative;
  width: 70px * 3.7;
  height: 100px * 3.7;
  border-radius: 10px;
  background-color: var(--element-background-color);
  overflow: hidden;
}

.coverImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  object-fit: cover;
  object-position: center;
}

.descriptionContainer {
  flex: 1;
}

.nameMangaContainer {
  display: flex;
  justify-content: space-between;
  padding-right: 10px;
  flex: 2;
  flex-direction: row;
}

.nameMangaContainer h2 {
  margin: 0;
  font-size: 27px;
  font-weight: 600;
  color: var(--name-color);
}
.nameMangaContainer h3 {
  margin: 0;
  font-size: 18px;
  font-weight: normal;
  color: var(--name-color);
}

.nameMangaContainer p {
  color: var(--name-color);
}

.nameContainer {
  display: flex;
}

.infoMangaContainer {
  border-radius: 10px;
  background-color: var(--element-background-color);
}

.favoriteContainer {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

.mangaContent {
  padding: 10px;
  margin-top: 20px;
  flex: 1;
  border-radius: 10px;
  background-color: var(--element-background-color);
}
