.searchInputContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 10px;
  border-radius: 10px;
  border: 1px solid var(--element-background-color);
  background-color: var(--element-background-color);
  transition: 0.3s;
}

.searchInputContainer:hover {
  border-color: var(--thematic-color);
}

.searchInputContainer input {
  height: 40px;
  flex: 1;
  border-radius: 10px;
  font-size: 15px;
  color: var(--color);
  background-color: var(--element-background-color);
}

.searchInputContainer button {
  width: 40px;
  height: 40px;
  padding: 0;
}

.searchInputContainer button svg {
  margin: 0;
}


