.searchMangaList {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
  height: 400px;
  overflow-y: auto;
}

.searchMangaContainer {
  display: flex;
  gap: 10px;
  padding: 10px;
  border-radius: 10px;
  background-color: var(--element-background-color);
  transition: 0.3s;
}

.searchMangaContainer:hover {
  background-color: var(--button-hover-background-color);
}

.searchMangaContainer img {
  width: 70px * 0.8;
  height: 100px * 0.7;
  border-radius: 10px;
  object-fit: cover;
}

.nullSearchData {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 0;
  color: var(--color);
}

.searchMangaName p {
  margin: 0;
  font-size: 14px;
  font-weight: normal;
}
