.headerContainer {
  position: fixed;
  width: 100%;
  height: 60px;
  background-color: var(--element-background-color);
  transition: 0.3s;
  z-index: 9999;
}

.headerContainer.entering {
  transform: translateY(0%);
}

.headerContainer.entered {
  transform: translateY(0%);
}

.headerContainer.exiting {
  transform: translateY(-60px);
  visibility: hidden;
}

.headerContainer.exited {
  transform: translateY(-60px);
  visibility: hidden;
}
