.favoriteModalTitle {
  color: var(--color);
  font-size: 16px;
  font-weight: 500;
}

.favoriteStarsContainer {
  display: flex;
  flex-direction: row;
  margin: 25px 0;
  width: 100%;
}

.favoriteStarsContainer div {
  display: flex;
  flex: 1;
  cursor: pointer;
}

.rateTitle {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.rateButtonContainer {
  display: flex;
  justify-content: flex-end;
}
.rateButtonContainer button {
  color: #fff;
  background-color: var(--thematic-color);
}

.rateButtonContainer button:hover {
  background-color: var(--hover-thematic-color);
}

.rateTitle {
  color: var(--color) !important;
}

.rateTitle span {
  display: flex;
  align-items: center;
  gap: 2px;
  margin-left: 2px;
}
