$borderRadiusUserLogo: 20px;

.userPage {
  width: 95%;
  max-width: 1220px;
  color: var(--color);
}

.userBanner {
  position: relative;
  width: 100%;
  height: 250px;
  background-image: url(http://localhost:5001/image/a15544c…_46368266003702174);
  border-radius: 20px;
  background-color: var(--element-background-color);
  object-fit: fill;
  background-position: 50%;
  background-size: cover;
  overflow: hidden;
  animation: fadeIn 0.3s ease;
  z-index: -10;
}

:root[data-theme="dark"] .userBanner::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  background: linear-gradient(
    0deg,
    var(--element-background-color),
    transparent
  );
}

.userInfoContainer {
  display: flex;
  margin-top: -20px;
  padding: 10px 10px 15px 10px;
  border-radius: 10px;
  background-color: var(--element-background-color);
}

.groupInfo {
  display: flex;
  gap: 10px;
}

.logoContainer {
  display: flex;
  position: relative;
  justify-content: flex-end;
  width: 100px;
}

.userImage {
  position: absolute;
  padding: 6px;
  top: -60px;
  width: 80px;
  height: 80px;
  border-radius: $borderRadiusUserLogo;
  background-color: var(--element-background-color);
  overflow: hidden;
  z-index: 30;
}

.userImage img {
  width: 100%;
  height: 100%;
  border-radius: 14px;
  object-fit: cover;
}

.userNameContainer h3 {
  margin: 0;
  font-weight: 500;
}

.bookMarksList {
  display: flex;
  flex-direction: row;
  margin-top: 15px;
  gap: 15px;
}
