.chapterContainer {
  display: flex;
  justify-content: space-between;
  padding: 8px;
  border-radius: 10px;
  background-color: var(--sub-element-background-color);
}

.chapterContainer p {
  margin: 0;
  color: var(--color);
}

.dateChapter {
  font-size: 14px;
  font-weight: normal;
  color: gray;
}

.nullChapters {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nullChapters p {
  margin: 0;
  padding-bottom: 10px;
  color: var(--color);
}

.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
