.tabsContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;

  border-bottom: 1px solid rgba(128, 128, 128, 0.404);
}

.tabsContainer a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 10px;
  transition: 0.3s;
}

.tabsContainer a:hover {
  background-color: var(--button-hover-background-color);
}

.tabsContainer div {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.tabsContainer button {
  padding: 8px;
  font-size: 15px;
  border-radius: 0px;
  transition: 0.3s;
}
.tabsContainer button:hover {
  background-color: var(--element-background-color);
}
